In [6]:
 
tot = pd.read_csv("tot.csv")
tot_1 = tot.iloc[:,1:]

In [7]:
tot_1.corr()

,배출량,인구수,GRDP(단위 : 백만원),1인당 GRDP(단위 : 천원),관광객수
배출량,1.000000,0.911172,0.964806,0.978952,0.898285
인구수,0.911172,1.000000,0.976099,0.916648,0.665335
GRDP(단위 : 백만원),0.964806,0.976099,1.000000,0.981353,0.778669
1인당 GRDP(단위 : 천원),0.978952,0.916648,0.981353,1.000000,0.852108
관광객수,0.898285,0.665335,0.778669,0.852108,1.000000