In [46]:
import os
import pandas as pd
cul = pd.read_excel("culture.xlsx", encoding='utf-8')
eco = pd.read_excel("economy.xlsx", encoding='utf-8')
glo = pd.read_excel("global.xlsx", encoding='utf-8')
pol = pd.read_excel("politic.xlsx", encoding='utf-8')
soc = pd.read_excel("society.xlsx", encoding='utf-8')

# 데이터 라벨링

In [47]:
eco[0]=eco['title']
eco

,Unnamed: 0,title,0
0,0,"""하루 전화만 50통""…사생활 없어진 송파 헬리오시티","""하루 전화만 50통""…사생활 없어진 송파 헬리오시티"
1,1,"243만원, 287만원, 321만원…진짜 평균임금은 얼마야?","243만원, 287만원, 321만원…진짜 평균임금은 얼마야?"
2,2,"""집 산다는 사람 없다"" 매수지수 뚝…부동산 '안정 신호'","""집 산다는 사람 없다"" 매수지수 뚝…부동산 '안정 신호'"
3,3,"[르포]거제와 울산, 떠났던 배가 돌아온다","[르포]거제와 울산, 떠났던 배가 돌아온다"
4,4,상다리 휘어져야 조상에 대한 예의? 차례상에 대한 오해,상다리 휘어져야 조상에 대한 예의? 차례상에 대한 오해
...,...,...,...
10975,10975,다주택자 10년이상 보유주택 팔면 6월말까지 양도세 중과 배제,다주택자 10년이상 보유주택 팔면 6월말까지 양도세 중과 배제
10976,10976,영화 82편 '1초 전송'…삼성 초고속 D램 세계 첫 출시,영화 82편 '1초 전송'…삼성 초고속 D램 세계 첫 출시
10977,10977,"기아차, 신형 쏘렌토 3월 출시…티저 이미지 공개","기아차, 신형 쏘렌토 3월 출시…티저 이미지 공개"
10978,10978,"신종코로나, 결국 ‘제네시스’ 세웠다…그랜저는 증산키로","신종코로나, 결국 ‘제네시스’ 세웠다…그랜저는 증산키로"
10979,10979,아파트 하나에 10만명 청약하는 마당에…7만명도 문제 없었다는 황…,아파트 하나에 10만명 청약하는 마당에…7만명도 문제 없었다는 황…

In [48]:
cul2 = pd.DataFrame(cul[0])
cul2["label"] = 1

glo2 = pd.DataFrame(glo[0])
glo2["label"] = 2

pol2 = pd.DataFrame(pol[0])
pol2["label"] = 3

soc2 = pd.DataFrame(soc[0])
soc2["label"] = 4

eco2 = pd.DataFrame(eco[0])
eco2["label"] = 5

In [61]:
data = cul2.append(glo2)
data = data.append(pol2)
data = data.append(soc2)
data = data.append(eco2)
len(data)
data = data.rename(columns={0:'news'})
data

                                         news  label
0          [날씨] 단비에 건조특보 해제...남은 연휴 맑지만 中 스모그      1
1            [날씨] 설 아침 춥지만 낮 포근...새벽 영서 북부 눈발      1
2            [카드뉴스] '올해로 34년째, 열차 안에서 보내는 설날'      1
3      [인터뷰] 김영민 교수 "조카가 '당숙이란 무엇인가' 묻는다면..."      1
4              [날씨] 다소 쌀쌀한 ‘입춘’…수도권 미세먼지 ‘나쁨’      1
...                                       ...    ...
10975      다주택자 10년이상 보유주택 팔면 6월말까지 양도세 중과 배제      5
10976        영화 82편 '1초 전송'…삼성 초고속 D램 세계 첫 출시      5
10977             기아차, 신형 쏘렌토 3월 출시…티저 이미지 공개      5
10978          신종코로나, 결국 ‘제네시스’ 세웠다…그랜저는 증산키로      5
10979   아파트 하나에 10만명 청약하는 마당에…7만명도 문제 없었다는 황…      5

[54900 rows x 2 columns]

In [62]:
df = pd.DataFrame.from_records(data)
df.to_excel('data2.xlsx')

# 데이터 나누기

In [63]:
import numpy as np
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size = 0.33, random_state = 42) # 테스트셋 3분의 1

In [64]:
train["label"] = pd.Categorical(train["label"])
train.groupby("label").count()

C:\Users\ICT01_21\Anaconda3\envs\tf_test\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       news
label
1      7304
2      7377
3      7386
4      7353
5      7363

In [65]:
test.groupby("label").count()

       news
label
1      3676
2      3603
3      3594
4      3627
5      3617

# 명사 추출하여 TDM 생성

In [84]:
from konlpy.tag import Twitter
from sklearn.feature_extraction.text import CountVectorizer

def get_noun(text) :
    tokenizer = Twitter()
    nouns = tokenizer.nouns(text)
    return [n for n in nouns]

In [81]:
str(train.iloc[2,0]

'36세 이세돌 은퇴…알파고 이긴 유일한 인간'

In [92]:
import jpype
cv = CountVectorizer(tokenizer=get_noun)
tdm = cv.fit_transform(train["news"])
cv.vocabulary_

C:\Users\ICT01_21\Anaconda3\envs\tf_test\lib\site-packages\sklearn\feature_extraction\text.py:507: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn("The parameter 'token_pattern' will not be used"

TypeError: No matching overloads found for constructor java.lang.Boolean(bool), options are:
	public java.lang.Boolean(java.lang.String)
	public java.lang.Boolean(boolean)

	at JPMethod::findOverload(native\common\jp_method.cpp:242)
	at JPMethod::findOverload(native\common\jp_method.cpp:245)
	at PyJPClass::newInstance(native\python\pyjp_class.cpp:300)